@charset "UTF-8";

th.board_title {
	font-family: NanumGothic, Arial;
	font-size: 20px;
	background-color: #81B622;
	border: 1px solid #3D550C;
	color: #FFFFFF;
}

td.board_content {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	background-color: #d7efa9;
	border-left: 1px solid #3D550C;
	border-right: 1px solid #3D550C;
	border-bottom: 1px solid #3D550C;
	color: #3D550C;
}