@charset "UTF-8";

th.board_title {
	font-family: NanumGothic, Arial;
	font-size: 20px;
	background-color: #81B622;
	border: 1px solid #3D550C;
	color: #FFFFFF;
}

td.board_content {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	background-color: #d7efa9;
	border-left: 1px solid #3D550C;
	border-right: 1px solid #3D550C;
	border-bottom: 1px solid #3D550C;
	color: #253407;
}

a.contentlink:link {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #253407;
	text-decoration: none;
}

a.contentlink:visited {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #808080;
	text-decoration: none;
}

a.contentlink:hover {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #253407;
	font-weight: bold;
}

a.pagelink:link {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #253407;
	text-decoration: none;
}

a.pagelink:visited {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #808080;
	text-decoration: none;
}

a.pagelink:hover {
	font-family: NanumGothic, Arial;
	font-size: 17px;
	color: #253407;
	font-weight: bold;
}

span.currpage {
	font-family: NanumGothic, Arial;
	color: #000000;
	font-weight: bold;
	background-color: background-color #3D550C;
	border: 1px solid #3D550C;
	font-size: 17px;
}
