@charset "UTF-8";

tr.header_line {
	background-color: #081c15;
	height: 70px;	
}

span.menu {
	color:#ffffff;
	font-family: Arial;
	font-size: 20px;
}

span.loginid {
	color:#3D550C;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
	font-weight: bold;
}




